/*
--- 01 TYPOGRAPHY SYSTEM ---

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- 02 COLORS ---

- Primary:
 - Orange: hsl(25, 97%, 53%)
 - White: hsl(0, 0%, 100%)
 - Light Grey: hsl(217, 12%, 63%)
 - Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)

- Tints:
- Shades:
- Accents:

--- 03 SHADOWS ---

--- 04 BORDER_RADIUS ---

Defaults:
Medium:

--- 05 WHITESPACE ---

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* RESET CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* Font size 10px => 10 / 16 =  0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  /* Now 1rem = 10px */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Overpass", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

/* GENERAL */

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card--component {
  display: flex;
  height: 41.6rem;
  width: 41.2rem;
}

/* COMPONENT */

.component--content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: red solid 1px;
}
.component--star {
}

.icon-star {
}

.component--title {
}

.component--paragraph {
}

.component--rating {
}

.component--btn {
}
